_target_: {{ model_slug }}.model.Model
{% if profile == 'zero_shot_ar' %}d_model: 128
nhead: 4
num_layers: 2
dropout: 0.1
max_seq_len: ${max_seq_len}
max_new_tokens: 64
{% elif profile == 'every_query' %}d_model: 64
encoder: gru
num_layers: 1
dropout: 0.1
use_numeric_value: true
{% elif profile == 'motor_finetune' %}d_model: 64
encoder: gru
num_layers: 1
dropout: 0.1
use_numeric_value: true
threshold: 0.5
{% else %}d_model: 64
encoder: gru
num_layers: 1
dropout: 0.1
use_numeric_value: true
threshold: 0.5
{% endif %}optimizer: ${optimizer}
scheduler: null
